@import "../colors";

.c, .cpp {
	.meta.preprocessor {
		.name.function {
			color: @cyan;
		}
		.constant.numeric {
			color: @aqua;
		}

		.punctuation.definition.string {
			color: @blue;
		}
	}

	.meta.class-struct-block {
		.entity.name.type {
			color: @cyan;
		}
	}
}
