@import "../colors";

.coffee {
	// Color function name only in functions' declarations
	.meta.function {
		.entity.name.function {
			color: @cyan;
		}
	}

	.entity {
		color: @text;

		&.name.class,
		&.name.type,
		&.inherited-class {
			color: @cyan;
		}
	}

	.embedded {
		color: @light-purple;
		font-style: italic;

		.punctuation.section {
			color: darken(@light-purple, 10%);
			font-style: normal;
		}
	}
}
