@import "../colors";

// Property name
.support.type.property-name.css,
.meta.property-name.css {
	color: @violet;
}

// Property value
.support.constant.property-value.css {
	color: @white;
}

// .class selector
.entity.other.attribute-name.class.css {
	color: @cyan;
}

// Numeric values
.meta.property-value.css.numeric.css,
.keyword.other.unit.css,
.constant.other.color.rgb-value.css {
	color: @cyan;
}

// !important
.keyword.other.important.css {
	color: @violet;
}

// @font-face
.keyword.control.at-rule.font-face.css > .punctuation.definition.keyword.css,
.keyword.control.at-rule.font-face.css {
	color: @cyan;
}

.entity {
	// element selector
	&.name.tag.css {
		color: @cyan;
	}
	
	// #id selector
	&.other.attribute-name.id.css {
		color: @cyan;
	}
	
	&.other.attribute-name.attribute.css {
		color: @white;
	}
	
	&.other.attribute-name.pseudo-element.css,
	&.other.attribute-name.pseudo-class.css,
	&.name.tag.custom.css {
		color: @cyan;
	}
}
