@import "../colors";

// Property name
.support.type.property-name.css,
.meta.property-name.css {
	color: @purple;
}

// Property value
.support.constant.property-value.css {
	color: @white;
}

// .class selector
.entity.other.attribute-name.class.css {
	color: @blue;
}

.meta.selector.css {
	color: @cyan;
}

// Numeric values
.meta.property-value.css.numeric.css,
.keyword.other.unit.css,
.constant.other.color.rgb-value.css {
	color: @cyan;
}

.entity {
	// element selector
	&.name.tag.css {
		color: @blue;
	}
	
	// #id selector
	&.other.attribute-name.id.css {
		color: @blue;
	}
	
	&.other.attribute-name.pseudo-element.css, &.other.attribute-name.pseudo-class.css,
	&.name.tag.custom.css {
		color: @cyan;
	}
	
}
