@import "../colors";

.gfm {
	.heading {
		font-weight: bold;
		color: lighten(@cyan, 5%);

		.marker {
			color: @cyan;
			font-weight: bold;
		}
	}

	.quote {
		color: @text;

		&.support {
				color: @light-gray;
				background-color: @light-gray;
		}
	}

	.link {
		color: @silver;

		.entity {
			color: lighten(@blue, 5%);
		}

		&.underline {
			color: @silver;
			border-bottom: thin solid;

			.punctuation.definition {
				color: @silver;
			}
		}
	}

	&.issue {
		&.tag {
			color: @cyan;
		}

		&.number {
			color: @cyan;
		}
	}

	& > .support {
		color: @silver;
	}

	.table {
		.border {
			color: lighten(@purple, 15%);

			&.outer {
				color: lighten(@purple, 15%);
			}

			&.header {
				color: lighten(@purple, 15%);
			}
		}

		.alignment {
			color: lighten(@purple, 15%);
		}
	}

	.list {
		color: fadeout(@cyan, 10%);
	}

	& > .critic.gfm {
		.marker {
			&.addition {
				color: @green;
			}
			&.deletion {
				color: @red;
			}
			&.substitution {
				color: @orange;
			}
			&.comment {
				color: @blue;
			}
			&.highlight {
				color: @purple;
				background: @selection;
				border-radius: 3px
			}
		}

		.operator {
			color: @violet;
		}
	}
}
