@import "../colors";

.meta.structure.dictionary.json > .string.quoted.double {
	color: @cyan
}

.meta.structure.dictionary.value.json > .string.quoted.double {
	color: @white
}

.punctuation.definition.string.json {
	color: @white;
}