// These colors are specific to the theme.
@white: #d9dce3;
@silver: #909eae;
@light-gray: #5f696f;
@gray: #343d46;
@dark-gray: #2b303b;
@yellow: #ffd478;
@orange: #cb4b16;
@red: #FE2020;
@magenta: #ff006a;
@violet: #b57fb3;
@blue: #6A9FD6;
@cyan: #55b5db;
@green: #A8FF60;
@purple: #a074c4;

// General colors
@text: @white;
@cursor: @white;
@selection: @gray;
@background: @dark-gray;

// Guide colors
@wrap-guide: @light-gray;
@indent-guide: @light-gray;
@invisible-character: @light-gray;

// For find and replace markers
@result-marker: @light-gray;
@result-marker-selected: @white;

// Gutter
@gutter-text: @white;
@gutter-text-selected: @white;
@gutter-background: @dark-gray;
@gutter-background-selected: @gray;

// For git diff info. i.e. in the gutter
@renamed: @blue;
@added: @green;
@modified: @yellow;
@removed: @magenta;