// These colors are specific to the theme.

@light-gray: #d9dce3;
@gray: #5f696f;
@dark-gray: #2b303b;
@yellow: #E9C062;
@orange: #cb4b16;
@red: #dc322f;
@magenta: #f92672;
@violet: #6c71c4;
@blue: #6a9fd6;
@cyan: #00a8c6;
@green: #A8FF60;
@purple: #a074c4;

@base1: @purple;
@base2: @blue;

// General colors
@text: @light-gray;
@cursor: @light-gray;
@selection: @gray;
@background: @dark-gray;

// Guide colors
@wrap-guide: @gray;
@indent-guide: @gray;
@invisible-character: @gray;

// For find and replace markers
@result-marker: @gray;
@result-marker-selected: @light-gray;

// Gutter
@gutter-text: @light-gray;
@gutter-text-selected: @light-gray;
@gutter-background: @dark-gray;
@gutter-background-selected: @gray;

// For git diff info. i.e. in the gutter
@renamed: @blue;
@added: @green;
@modified: @yellow;
@removed: @magenta;