// These colors are specific to the theme.
@white: #d9dce3;
@silver: #909eae;
@light-gray: #5f696f;
@gray: #343d46;
@dark-gray: #2b303b;
@yellow: #daa520;
@orange: #ff6347;
@red: #b22222;
@magenta: #d81e78;
@violet: #b376b1;
@blue: #8bb3f7;
@aqua: #94FFFA;
@cyan: #55b5db;
@green: #73c990;
@purple: #9370DB;

// General colors
@text: @white;
@cursor: @white;
@selection: @gray;
@background: @dark-gray;

// Guide colors
@wrap-guide: @light-gray;
@indent-guide: @light-gray;
@invisible-character: @light-gray;

// For find and replace markers
@result-marker: @light-gray;
@result-marker-selected: @white;

// Gutter
@gutter-text: @white;
@gutter-text-selected: @white;
@gutter-background: @dark-gray;
@gutter-background-selected: @gray;

// For git diff info. i.e. in the gutter
@renamed: @blue;
@added: @green;
@modified: @yellow;
@removed: @magenta;