@import "colors";

.comment {
	font-style: italic;
	color: @gray;
}

.string {
	color: @base2;
}

.constant {
	&.numeric {
		color: @cyan;
	}

	&.language {
		color: @cyan;
	}
}

.variable {
	&.parameter {
		font-style: italic;
		color: @cyan;
	}
}

.keyword {
	color: @base1;
}

.storage {
	color: @base1;
	
	&.type.class {
		&.fixme, &.todo, &.xxx, &.hack, &.note, &.idea {
			color: @magenta
		}
	}
}

.entity {
	&.name.tag {
		color: @base1;
	}
	
	&.other.inherited-class {
		color: @base1;
	}
}

.support {
	&.other.variable {
		color: @base1;
	}
}

.invalid {
	&.illegal {
		background-color: @magenta;
	}
	
	&.deprecated 	{
		background-color: @violet;
	}
}
