@import "colors";

.comment {
	font-style: italic;
	color: @light-gray;
}

.string {
	color: @blue;

	&.regexp {
		color: @purple;
	}
}

.constant {
	&.numeric {
		color: @cyan;
	}

	&.language {
		color: @cyan;
	}
}

.variable {
	&.parameter {
		font-style: italic;
	}
}

.keyword {
	color: @violet;
	&.operator {
		color: @purple;
	}
}

.storage {
	color: @violet;

	&.fixme, &.xxx, &.hack, {
		color: @magenta;
	}

	&.todo, &.note, &.idea, &.review {
		color: @purple;
	}

	&.changed {
		color: @yellow;
	}
}

.entity {
	&.name.tag {
		color: @cyan;
	}
	
	&.other.attribute-name {
		color: @silver;
	}
}

.support {
	&.other.variable {
		color: @purple;
	}
	
	&.type.property-name {
		color: @cyan;
	}
}

.invalid {
	&.illegal {
		background-color: @red;
	}
	
	&.deprecated 	{
		background-color: @magenta;
	}
}

.punctuation {
	&.definition.tag {
		color: @cyan;
	}
}
